
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@200;300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}



/* Navbar styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.uppernav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: sticky;
    z-index: 999;
    height: 30px;
    width: 100%;
    background:#05225be5;
    color: white;
    
  }
  
  .appointment{
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.8rem;
  
  }
  
  .uppernav .social-media{
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.8rem;
    font-size: 0.8rem;
    margin-right: 1rem;
  }
  
  .uppernav .social-media a{
    text-decoration: none;
    color: white;
  }
  
  
  /* nav working ================ */
  
  .nav{
    display: flex;
    gap: 2rem;
    /* border: 1px solid red; */
    align-items: center;
    /* background: #1c2a4d */
    /* background-image: linear-gradient( 132.6deg,  rgba(71,139,214,1) 23.3%, rgba(37,216,211,1) 84.7% ); */
    height: 80px;
    background: #05225b;
    /* background: #05225b; */
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0 0.5rem;
    top: 0;
    z-index: 9999;
    position: sticky;
  }
  
  .logo{
    flex-basis: 28%;
    background: #bdc9ed;
    height: 80px;
    padding: 0.3rem 1rem;
  }
  
  .logo img{
    width: 100%;
    height: 70px;
    margin: auto;
  
  }
  
  
  .nav-items{
    flex: 3;
    /* border: 1px solid maroon; */
  }
  
  .nav-items>ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    gap: 0.5rem;
  }
  
  .nav-items>ul li{
    list-style-type: none;
  }
  
  .nav-items>ul>a{
    text-decoration: none;
    color: white;
    transition: all 0.5s ease-in-out;
  }
  
  .nav-items a:hover{
    color: #bdc9ed;
  
  }
  
  .dropdown-menu>li>a:hover{
    background-color: #05225b5b;
    opacity: 0.9;
  }
  
  /* .dropdown{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background-image: linear-gradient( 132.6deg,  rgba(71,139,214,1) 23.3%, rgba(37,216,211,1) 84.7% );
    width: 50px;
    height:60px;
  } */
  
  
  .hamburger{
    display: none;
    cursor: pointer;
  }
  
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }



.recent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recent .first-part{
    flex-basis: 40%;
    border: 1px solid salmon;

}

.recent .second-part{
    flex-basis: 40%;
    border: 1px solid rebeccapurple;
}